    </ul>
    <p>
      <a name="end"><b>Data ostatniej wiadomości:</b></a> 
       <i>%(lastdate)s</i><br>
    <b>Data archiwizacji:</b> <i>%(archivedate)s</i>
    <p>
   <ul>
         <li> <b>Wiadomości posortowane według:</b>
	        %(thread_ref)s
		%(subject_ref)s
		%(author_ref)s
		%(date_ref)s
	     <li><b><a href="%(listinfo)s">Więcej informacji o liście...
                    </a></b></li>
     </ul>
     <p>
     <hr>
     <i>Archiwum zostało wygenerowane przez program
     Pipermail %(version)s.</i>
  </BODY>
</HTML>
