<!-- $Revision: 6800 $ -->
<html>
<head>
    <link rel="SHORTCUT ICON" href="<mm-favicon>">
    <title>Konfiguracja <MM-Presentable-User> na liście <MM-List-Name>
    </title>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
</head>
<BODY BGCOLOR="#ffffff">
    <TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD WIDTH="100%" BGCOLOR="#99CCFF"><B>
        <FONT COLOR="#000000" SIZE=+1>
        Konfiguracja subskrybcji <MM-Presentable-User> na liście
        <MM-List-Name>
        </FONT></B></TD></TR>
    </TABLE>
<p>
<table width="100%" border="0" cellspacing="5" cellpadding="5">
    <tr><td>
        <b><MM-Presentable-User></b> -- aktualny stan subskrypcji,
        hasło i zmiana opcji na liście <MM-List-Name>.
        </td><td><MM-Form-Start><mm-logout-button><MM-Form-End></td>
    </tr><tr>
        <td colspan="2">
        <MM-Case-Preserved-User>

        <MM-Disabled-Notice>

        <p><mm-results>
        </td>
    </tr>
</table>

<MM-Form-Start>
<p>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD WIDTH="100%" BGCOLOR="#FFF0D0" colspan="2">
        <FONT COLOR="#000000">
        <B>Zmiana ustawień <MM-List-Name> </B>
        </FONT></TD></TR>
    <tr><td colspan="2">
        Możesz zmienić adres używany do prenumeraty listy
        wypełniając po prostu poniższe pola. Na nowy adres zostanie wysłana 
        wiadomość, która będzie jeszcze wymagała Twojego potwierdzenia.

        <p>Potwierdzenie należy odesłać w ciągu <mm-pending-days>.

        <p>Możesz również dodać lub zmienić swoje Imię i Nazwisko
        (np.. <em>Jan Kowalski</em>).

        <p>Zaznaczenie opcji <em>Zmiana globalna</em> spowoduje, że zmiany
        te będą dotyczyć wszystkich list na serwerze <mm-host>, na które jesteś zapisany.

        </td></tr>
    <tr><td><center>
        <table border="0" cellspacing="2" cellpadding="2" width="80%" cols="2">
        <tr><td bgcolor="#dddddd"><div align="right">Nowy adres:</div></td>
            <td><mm-new-address-box></td>
            </tr>
        <tr><td bgcolor="#dddddd"><div align="right">Podaj ponownie:</div></td> 
            <td><mm-confirm-address-box></td>
            </tr>
        </tr></table></center>
        </td>
        <td><center>
        <table border="0" cellspacing="2" cellpadding="2" width="80%" cols="2">
            <tr><td bgcolor="#dddddd"><div align="right">Imię i Nazwisko
            (opcjonalnie):</div></td>
            <td><mm-fullname-box></td>
            </tr>
        </table></center>
        </td>
        </tr>
    <tr><td colspan="2"><center><mm-change-address-button>
        <p><mm-global-change-of-address>Zmiana globalna</center></td>
    </tr>
</table>

<p>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="5" CELLPADDING="5">
    <TR><TD WIDTH="50%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>Wypisanie się z listy <MM-List-Name></B></td>

        <TD WIDTH="50%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>Pozostałe listy, które subskrybujesz na serwerze <MM-Host></B>
        </FONT></TD></TR>

    <tr><td>
        Zaznacz opcje potwierdzenia i naciśnij przycisk, aby wypisać się
        z listy. <strong>Uwaga:</strong> wypisanie jest
        realizowane natychmiast.
        <p>
        <center><MM-Unsubscribe-Button></center></td>
    <td>
        Możesz zobaczyć listę wszystkich list na serwerze
        <mm-host>, na które jesteś zapisany. 
        Zaloguj się, jeśli chcesz zmienić coś w opcjach dotyczących innej
        listy.

        <p>
        <center><MM-Other-Subscriptions-Submit></center>
        </TD></TR>
</table>

<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD COLSPAN=2 WIDTH="100%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>Twoje hasło na liście <MM-List-Name></B>
        </FONT></TD></TR>

    <tr valign="TOP"><td WIDTH="50%">
        <a name=reminder>
        <center>
        <h3>Zapomniałeś hasła?</h3>
        </center>
        Kliknij poniższy przycisk, a hasło zostanie wysłane na Twój adres
        email.
        <p><MM-Umbrella-Notice>
        <center>
        <MM-Email-My-Pw>
        </center>
        </td>

    <td WIDTH="50%">
        <a name=changepw>
        <center>
        <h3>Zmiana hasła</h3>
        <TABLE BORDER="0" CELLSPACING="2" CELLPADDING="2" WIDTH="70%" COLS=2>
            <TR><TD BGCOLOR="#dddddd"><div align="right">Nowe
                hasło:</div></TD>
                <TD><MM-New-Pass-Box></TD>
                </TR>
            <TR>
                <TD BGCOLOR="#dddddd"><div align="right">Podaj ponownie:
                 </div></TD>
                <TD><MM-Confirm-Pass-Box></TD>
            </TR>
        </table>

        <MM-Change-Pass-Button>
        <p><center><mm-global-pw-changes-button>Zmiana globalna
        </center>
</TABLE>

<p>
<TABLE WIDTH="100%" BORDER="0" CELLSPACING="0" CELLPADDING="5">
    <TR><TD WIDTH="100%" BGCOLOR="#FFF0D0"><FONT COLOR="#000000">
        <B>Opcje subskrypcji listy <MM-List-Name></B>
        </FONT></TD></TR>
</table>

<p>
<i><strong>Wartości zaznaczone to aktualne ustawienia prenumeraty.</strong></i>

<p>Zauważ, że niektóre opcje mają znacznik <em>Zmiana globalna</em>.
Jego zaznaczenie spowoduje, że zmiana danej opcji odnosić się będzie do 
wszystkich list na serwerze <mm-host>, które prenumerujesz.
Kliknij przycisk <em>Pokaż moje pozostałe subskrypcje</em>, jeśli 
nie jesteś pewien na jakie listy jesteś zapisany.
<p>
<TABLE BORDER="0" CELLSPACING="3" CELLPADDING="4" WIDTH="100%">
    <tr><TD BGCOLOR="#cccccc">
        <a name="disable">
        <strong>Dostarczanie wiadomości</strong></a><p>
        Ustaw tę opcję na <em>Włączone</em>, żeby dostawać wszystkie 
        wiadomości z listy. Ustawienie <em>Wyłączone</em>, spowoduje, 
        że nadal będziesz zapisany na listę, ale nie będziesz dostawał wiadomości (przydatne jeśli np. wyjeżdżasz na wakacje). Jeśli
        wyłączyłeś dostarczanie, nie zapomnij włączyć je po powrocie; nie
        włączy się ono automatycznie. 
        </td><td bgcolor="#cccccc">
        <mm-delivery-enable-button>Włączone<br>
        <mm-delivery-disable-button>Wyłączone<p>
        <mm-global-deliver-button><i>Zmiana&nbsp;globalna</i>
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>Tryb Paczek</strong><p>

        Jeśli tryb paczek jest wyłączony, wiadomości dostarczane są 
        natychmiast. Po jego włączeniu, wiadomości z listy będziesz dostawał
        tylko raz dziennie w formie paczki (bądź częściej, jeśli ruch
        na liście jest bardzo duży). Zmiana tej opcji może spowodować, że 
        nie dostaniesz ostatniej wysłanej paczki (tylko kolejne).
        </td><td bgcolor="#cccccc">
        <MM-Undigest-Radio-Button>Wyłączony<br>
        <MM-Digest-Radio-Button>Włączony
        </td></tr>
        
    <tr><TD BGCOLOR="#cccccc">
        <strong>Paczki w formie MIME czy Czystego Tekstu?</strong><p>
        Określ, w jakiej formie mają być dostarczane wiadomości w trybie 
        paczek. Najczęstszym wyborem jest MIME. 
        Stare programy pocztowe mogą nie obsługiwać załączników MIME, wtedy 
        wybierz opcję na Czysty Tekst.
        </td><td bgcolor="#cccccc">
        <MM-Mime-Digests-Button>MIME<br>
        <MM-Plain-Digests-Button>Czysty Tekst<p>
        <mm-global-mime-button><i>Zmiana&nbsp;globalna</i>
        </td></tr>
        
    <tr><TD BGCOLOR="#cccccc">
        <strong>Czy chcesz otrzymywać wysłane przez siebie wiadomości?</strong><p>
        Możesz dostawać kopię każdej wiadomości, którą wysyłasz na listę. 
        Jeśli tego nie chcesz, ustaw tą opcję na <em>Nie</em>.
        </td><td bgcolor="#cccccc">
        <mm-dont-receive-own-mail-button>Nie<br>
        <mm-receive-own-mail-button>Tak
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>Czy chcesz dostawać potwierdzenie, że wysłany list doszedł 
        na listę?
        </strong><p>
        </td><td bgcolor="#cccccc">
        <mm-dont-ack-posts-button>Nie<br>
        <mm-ack-posts-button>Tak
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>Czy chcesz dostawać przypomnienia hasła?</strong><p>
        Raz w miesiącu rozsyłane są przypomnienia do wszystkich 
        subskrybentów. Przypomnienie zawiera hasła i podstawowe informacje o
        wszystkich listach, na które jesteś zapisany na tym serwerze. 
        Możesz wyłączyć
        przypomnienie hasła dla każdej z list osobno, zaznaczając opcje
        <em>Nie</em>. Zrezygnowanie z przypomnienia dla wszystkich list
        spowoduje, że w ogóle nie dostaniesz wiadomości z przypomnieniem.
        </td><td bgcolor="#cccccc">
        <mm-dont-get-password-reminder-button>Nie<br>
        <mm-get-password-reminder-button>Tak<p>
        <mm-global-remind-button><i>Zmiana&nbsp;globalna</i>
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>Czy chcesz być niewidocznym członkiem listy?</strong><p>
        Normalnie Twój adres jest widoczny dla oglądających listę
        sybskrybentów (adres jest dodatkowo zniekształcony, żeby utrudnić 
        życie spamerom). Jeśli nie chcesz, żeby Twój adres pojawiał się na
        liście osób zapisanych, zaznacz <em>Tak</em>.
        </td><td bgcolor="#cccccc">
        <MM-Public-Subscription-Button>Nie<br>
        <MM-Hide-Subscription-Button>Tak
        </td></tr>

    <tr><TD BGCOLOR="#cccccc">
        <strong>W jakim języku chcesz się komunikować?</strong><p>
        </td><td bgcolor="#cccccc">
        <MM-list-langs>
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>Jakie kategorie tematyczne Cię interesują?
                </strong><p>
                Zaznaczając jeden lub więcej tematów, możesz filtrować
                wiadomości z listy, a więc otrzymywać tylko część 
                ruchu. Będziesz dostawać tylko wiadomości, które pasują
                do któregoś z tematów.
               
                <p>Jeśli wiadomość nie pasuje do żadnego z tematów, to
                czy ją dostaniesz zależy od następnej opcji. Jeżeli nie 
                zaznaczysz żadnego tematu, będziesz otrzymywać wszystkie
                wiadomości wysyłane na listę dyskusyjną.
        </td><td bgcolor="#cccccc">
        <mm-topics>
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>Czy chcesz dostawać wiadomości, które nie pasują
                do żadnej kategorii tematycznej?
                </strong><p>

                Ta opcja ma znaczenie tylko, jeśli wybrałeś co najmniej 
                jedną kategorię tematyczną z poprzedniej opcji. Opisuje
                na zachowanie w przypadku, gdy wiadomość nie pasuje
                do żadnego ze zdefiniowanych tematów. Wybranie 
                <em>Nie</em> oznacza, że nie będziesz dostawać wiadomości 
                nie pasujących do żadnego tematu, a <em>Tak</em>, że
                będziesz dostawać te pozostałe wiadomości.

                <p>Nie wybranie żadnego z tematów z poprzedniej opcji
                oznacza, że będziesz otrzymywać wszystkie wiadomości.
        </td><td bgcolor="#cccccc">
        <mm-suppress-nonmatching-topics>Nie<br>
        <mm-receive-nonmatching-topics>Tak
        </td></tr>

    <tr><td bgcolor="#cccccc">
        <strong>Unikać podwójnych kopii wiadomości?</strong><p>

                Po zaznaczeniu tej opcji Mailman będzie analizował
                pola <tt>To:</tt> i <tt>Cc:</tt> i na tej podstawie nie
                będzie wysyłał do Ciebie kopii, jeśli jesteś już jej
                adresatem.
                Odpowiedź <em>Tak</em> oznacza, że chcesz unikać 
                dostawania tego samego listu w dwóch kopiach. 
                Przy <em>Nie</em> możesz dostawać wielokrotne kopie.

                <p>Jeżeli lista ma włączoną personalizację
                wiadomości, a ty wybierzesz dostawanie kopii, Mailman 
                doda pole <tt>X-Mailman-Copy: yes</tt> do nagłówka każdej
                kopii.

        </td><td bgcolor="#cccccc">
        <mm-receive-duplicates-button>Nie<br>
        <mm-dont-receive-duplicates-button>Tak<p>
        <mm-global-nodupes-button><i>Zmiana&nbsp;globalna</i>
        </td></tr>

    <tr><TD colspan="2">
        <center><MM-options-Submit-button></center>
        </td></tr>

</table>
</center>
<p>
<MM-Form-End>

<MM-Mailman-Footer>
</body>
</html>
